body {
  background-color: #cddbfc;
  font-family: Verdana;
  margin: 0;
  padding: 0;
}
 .horarioLista{

  background-color:silver;
  justify-content:flex-end; ;
  height: 300px;
  width: 300px;
  float:left;
	

